<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.siubo.wheretoyov50">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Settings"
            android:label="@string/title_settings" />
        <activity android:name=".MainActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".DeleteMarker" />
        <activity
            android:name=".ModifyMarker"
            android:label="Modify your marker"/>
        <activity android:name=".DefaultMarker" />
        <activity
            android:name=".Tutorial"
            android:label="@string/title_tutorial" />
        <activity
            android:name=".web"
            android:label="@string/title_web" />
        <activity
            android:name=".t_settings"
            android:label="Help - Settings Page" />
        <activity
            android:name=".t_main"
            android:label="Help - Main Page" />
        <activity
            android:name=".t_map"
            android:label="Help - Map Page" />
        <activity
            android:name=".t_web"
            android:label="Help - Search Page" />
        <activity
            android:name=".about"
            android:label="About"></activity>
    </application>

</manifest>